
= wrap_layout :layout do
  - if is_blog_article?
    %article
      .blog_post
        %h1
          = current_article.title

        .blog_body
          ~ current_article.body

      %p
        = link_to('Back to the Blog Index', '/blog.html')

    %aside
      .top
        .heading
          Published
          %time
            = current_article.date.strftime('%B %e, %Y')
      .bottom
        %p
          On this day
          = "(in #{current_article.data.fact_year}): #{current_article.data.fact}"
