
= wrap_layout :layout do
  - if is_blog_article?
    %article
      .blog_post
        %a{name: 'top'}
        %h1
          = current_article.title

        .blog_body
          - if current_article.tags.include?('play')
            = partial 'partials/play'

          - if current_article.data.spoilers
            = partial 'partials/_spoilers', locals: {media: current_article.data.spoilers, level: current_article.data.spoilers_level || 'Medium'}

          ~ current_article.body

      %hr
      %p
        %i.fa.fa-arrow-left
        = link_to('Blog Index', '/blog')
        |
        %a{href: '/blog/feeds'}<
          %i.fa.fa-rss-square.rss
        |
        = link_to('Random Post', blog.articles.reject{|x| x == current_article}.sample.url.chomp('/'))
        %i.fa.fa-random

    %aside.sidebar
      .top
        .heading
          Published
          %time
            = current_article.date.strftime('%B %e, %Y')

      .bottom
        %p
          -# needs to be an array so the join works right
          tags:
          - a = []
          - current_article.tags.sort.each do |tag|
            - a << link_to(tag, tag_path(tag))
          = a.join(', ')
        %p
          On this day
          = "(in #{current_article.data.fact_year}): #{current_article.data.fact}"

    :javascript
      window.onload = function() {
        $.bigfoot({ actionOriginalFN: 'ignore' });
      };

  = partial 'partials/anchor_links'
