!!!
/[if lt IE 7]
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]
  <html class="no-js lt-ie9 lt-ie8">
/[if IE 8]
  <html class="no-js lt-ie9 lt-ie8">
/[if gt IE 8]
  <!--> <html class="no-js"> <!--
%head
  /You're looking at my site's source! That's pretty cool. It's pretty straightforward. Template taken from HTML5Boilderplate, css adapted to my liking.
  /This site was laregely designed by Jennifer Herzberg, who rules.
  %meta{charset: "utf-8"}
  /hyphens are dumb
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  %title
    - if current_page.data.title
      = "#{current_page.data.title} - David Brownman dot com"
    - else
      David Brownman dot com


  %meta{name: "description", content: "Personal site for David Brownman"}
  %meta{name: "viewport", content: "width=device-width"}

  #{stylesheet_link_tag "the", "code", "https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"}

  -# pulls compiled js
  #{javascript_include_tag "https://code.jquery.com/jquery-2.2.4.min.js", "/js/facts.js"}

  = favicon_tag 'img/favicon.ico'

%body
  /[if lt IE 7]
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/?locale=en/">upgrade your browser</a>.
  .border
  .page
    .header-container
      %header.wrapper.clearfix
        %h1.title
          %a{href: "/index.html"}
            %span.my_name
              David Brownman

        %nav
          %ul
            %li
              %a.short{href: "/index.html", class: ('active' if current_page.data.header == 'index')}
                Home
            %li
              %a.short{href: "/blog.html", class: ('active' if (current_page.data.header == 'blog' || current_page.url.include?('/blog/')))}
                Blog
            %li
              %a.long{href: "/projects.html", class: ('active' if current_page.data.header == 'projects')}
                Projects
            %li
              %a.long{href: "/misc.html", class: ('active' if current_page.data.header == 'misc')}
                Sundries
    .main-container
      -# removed .wrapper.clearfix from main
      .main.clearfix.wrapper
        ~ yield

    .footer-container
      %footer.wrapper
        %ul
          %li
            %a{href: "/"}
              %i.fa.fa-home.fa-2x
          -# %li
          -#   %a{href: "http://blog.davidbrownman.com", target: "_blank"}
          -#     %i.fa.fa-tumblr-square.fa-2x
          -#     %span.sitename
          -#       Blog Archive
          %li
            %a{href: "mailto:beamneocube@gmail.com", target: "_blank"}
              %i.fa.fa-envelope.fa-2x
              %span.sitename
                Email
          %li
            %a{href: "https://www.github.com/xavdid", target: "_blank"}
              %i.fa.fa-github-alt.fa-2x
              %span.sitename
                GitHub
          %li
            %a{href: "https://www.twitter.com/xavdid", target: "_blank"}
              %i.fa.fa-twitter-square.fa-2x
              %span.sitename
                Twitter
          %li
            %a{href: "https://www.linkedin.com/in/xavdid", target: "_blank"}
              %i.fa.fa-linkedin-square.fa-2x
              %span.sitename
                Linkedin

  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-40842533-1', 'davidbrownman.com');
    ga('send', 'pageview');
