---
title: Blog
header: blog
pageable: true
---

-# %p.mini_header
-#   My 10 most recent blog posts can be found (with custom styles) here. There's also a full
-#   %a{href:"http://blog.davidbrownman.com"}<
-#     archive
-#   if you're really that bored.
%article
  %ul.blog
    - page_articles.each do |article|
      %li.summary
        .meta
          %time
            %a{:href => article.url}
              = article.date.strftime('%b %e %Y')
          %ul
            - article.tags.each do |tag|
              %li= tag
        .post
          %h1.tumblr_title
            = article.title
          .post-body
            = article.summary
            %a{:href => article.url} Read more

  %p.page_nav
    - if prev_page
      = link_to('Previous Page', prev_page)
      |

    Page
    = page_number
    of
    = num_pages

    - if next_page
      |
      = link_to('Next Page', next_page)

  %p
    See also
    = link_to('by year', 'calendar.html')
    or
    = link_to('by tag', 'tag.html')

%aside
  .top
    .heading
      The Write Stuff
  .bottom
    %p
      Here's my collection of blog posts (both technical and otherwise) presented chronicled in reverse. You can also see all posts sorted by
      = link_to('tag', 'tag.html')
      or
      = link_to('year', 'calendar.html')
      to best find what you're looking for.
